<head>
    <style>
        .admin .navbar-nav .nav-item.active .nav-link,
        .admin .navbar-nav .nav-item:hover .nav-link {
            color: #DC3545;
        }

        .admin .container-fluid {
          width: 77%;
        }
    </style>
</head>

<nav class="admin navbar sticky-top navbar-expand-lg navbar-light bg-light" style="border: 0; -webkit-box-shadow: none; box-shadow: none;">
<div class="admin container-fluid">
<ul class="admin navbar-nav">
    <li class="nav-item">
        <a class="nav-link link-dark active px-4" aria-current="page" href="{{ path('admin_galery_index') }}">Galleries List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link-dark active px-4" aria-current="page" href="{{ path('admin_galery_new') }}">New Gallery</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link-dark active px-4" href="{{ path('photo_index') }}">Photos View</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link-dark active px-4" href="{{ path('photo_new2') }}">Add Photos</a>
    </li>
</ul>

<ul class="navbar-nav ">

    <li class="">
        <a class="nav-link text-uppercase">Admin Dashboard</a>
    </li>
    <li>
        <a class="btn btn-outline-secondary px-3 mx-2" href="{{ path('galery_index') }}"  role="button">Gallery</a>
    </li>
    <li class="nav-item">
        <form method="post" action="/logout">
            <button type="submit" class="btn btn-outline-secondary"><i class=" play-icon fab fa-youtube" ></i>Log Out</button>
        </form>
    </li>
</ul>
</div>
</nav>

