{% form_theme form 'bootstrap_5_layout.html.twig' %}

<style>
    .col-form-label
    {
        display: none;
    }

    label
    {
        font-weight: bold;
        text-transform: uppercase;
        color: #198754;
    }

</style>

    <div class="form border-light w-75" style="margin: 0 auto;">
        {{ form_start(form) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>

            <div class="form-control">
                {{ form_widget(form) }}
            </div>

            <button class="btn btn-outline-success btn-sm my-2 w-25">{{ button_label|default('Sauvegarder') }}</button>
        {{ form_end(form) }}
    </div>

