{% extends 'base.html.twig' %}

{% block title %}Photo{% endblock %}

{% block body %}
{{ include('adminDashboard/admin/_adminNavBar.html.twig') }}
    <h1>Photo</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ photo.id }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td><img  style="width: 100px; height: 100px" src="/uploads/{{ photo.path }}"></td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ photo.number }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('photo_index') }}">back to list</a>
    <a href="{{ path('photo_edit', {'id': photo.id}) }}">edit</a>
{{ include('adminDashboard/photo/_delete_form.html.twig') }}
{% endblock %}
