{% form_theme form 'bootstrap_5_layout.html.twig' %}

<div class="form">
{{ form_start(form) }}
    {{ form_widget(form) }}
    {#   chek if this is edit route form to show images #}
    {% if app.request.attributes.get('_route') == 'galery_edit' %}
    <h2>Images</h2>

        {% for photo in galery.photos %}
            <td>
                <img style="height: 100px;" src="{{ asset('/uploads/' ~ photo.path) }}" alt="Image" >
            </td>
    {% endfor %}
    {% endif %}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>
