{% form_theme form 'bootstrap_5_layout.html.twig' %}

<div class="form border-light w-75" style="margin: 0 auto;}">
    {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

        <div class="col form-label text-warning text-uppercase" style="font-weight: bold;">
            {{ form_row(form.title, {'label': 'Titre'}) }}
        </div>
        <div class="col form-label text-warning text-uppercase" style="font-weight: bold;">
            {{ form_row(form.description) }}
        </div>
        <div class="col form-label text-warning text-uppercase" style="font-weight: bold;" >
            {{ form_row(form.password , {'label': 'Mot de passe'}) }}
        </div>
        <div class="col form-label text-warning text-uppercase" style="font-weight: bold;">
            {{ form_row(form.year, {'label': 'année'}) }}
        </div>


    <button class="btn btn-outline-success btn-sm my-2 w-25">{{ button_label|default('Sauvegarder') }}</button>
    {{ form_end(form) }}
</div>


