{% extends 'base.html.twig' %}

{% block title %}Galery index{% endblock %}

{% block header %}{{ include('adminDashboard/admin/_adminNavBar.html.twig') }}{% endblock %}

{% block body %}
<section class="jumbotron"  style="background-color: white;">
   <div class="card mb-3">
        <div class="card-header bg-warning" style="width:95%; height: 10%; position: relative; bottom:20px; left:20px;" >
            <h4 class="card-title text-light text-uppercase">Galeries</h4>
        </div>
        <div class="card-body table-responsive">
    <table class="table table-md  table-hover text-center">
        <thead class="text-uppercase">
            <tr class="">
                <th style="width:20%">Title</th>
                <th style="width:5%">Year</th>
                <th style="width:20%"></th>
                <th style="width:7%">Password</th>
            </tr>
        </thead>
        <tbody>
        {% for galery in galeries %}
            <tr>
                <td>{{ galery.title }}</td>
                <td>{{ galery.year }}</td>
                <td>
                    <a class="btn btn-outline-success btn-sm" href="{{ path('admin_galery_show', {'id': galery.id}) }}" role="button">show</a>
                    <a class="btn btn-outline-warning btn-sm" href="{{ path('admin_galery_edit', {'id': galery.id}) }}" role="button">edit</a>
               </td>
                <td>{{ galery.password }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
        </div>

             <a class="btn btn-outline-primary btn-sm " href="{{ path('admin_galery_new') }}" role="button">create NEW gallery</a>

</section>
{% endblock %}
