{% extends 'base.html.twig' %}

{% block title %}Galery{% endblock %}

{% block body %}
{{ include('adminDashboard/admin/_adminNavBar.html.twig') }}
    <h1>Galery</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ galery.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ galery.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ galery.description }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ galery.password }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ galery.year }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('galery_index') }}">back to list</a>
    <a href="{{ path('galery_edit', {'id': galery.id}) }}">edit</a>
{{ include('adminDashboard/galery/_delete_form.html.twig') }}
{% endblock %}
