{% extends 'base.html.twig' %}

{% block title %}Galery{% endblock %}

{% block body %}
{{ include('adminDashboard/admin/_adminNavBar.html.twig') }}
   <section class="jumbotron" style="background-color: white;">
    <h4><span class="badge badge-secondary badge-pill">Gallery:{{ galery.title }}</span> </h4>
    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ galery.title }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ galery.year }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ galery.password }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ galery.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ galery.description }}</td>
            </tr>
         </tbody>
    </table>
    <a href="{{ path('admin_galery_index') }}">back to list</a>
    <a href="{{ path('admin_galery_edit', {'id': galery.id}) }}">edit</a>

    {{ include('adminDashboard/galery/_delete_form.html.twig') }}
    <div class="row">
        {% for photo in galery.photos %}
            <div class="col-lg-3  text-center ">
              <img class="image-fluid rounded-1 d-inline-block" style="padding: 20px 20px 5px 20px; height: 150px;" src="{{ asset('/uploads/' ~ photo.path) }}" alt="Image" >
              {{ include('adminDashboard/galery/_delete_photo_form.html.twig') }}
            </div>
        {% endfor %}
    </div>
   </section>
{% endblock %}
