{% extends "base.html.twig" %}
{% block stylesheets %}
    <style>
        .form-label.required{
            color: rgba(233,233,233,0.72)
        }
    .form-control {
    width: 50%;
    margin: auto;
    border: solid rgba(0,0,0,.125);
        background-color:rgba(233,233,233,0.72);
    }
    .card{
    border: solid 5px white;
    background-color: rgba(0,0,0,0.72);
    }
    .btn-primary{
    width: 40%;
    background-color: rgba(233,233,233,0.72);
    border: black;
    font-size: 15px;
    text-transform: uppercase;
    color: black;
    height: auto;
    }
    .btn-primary:hover{
    background-color: white;
    color: black;
    }
    .background{
    background-image: url("/images/pexels-mengliu-di-3679525.jpg");
    background-position: center;
    background-size: cover;
    padding-bottom: 15px;
    }
    .form-label{
    color: white;
    }
    .contactText{
        float: right;
        width: 48%;
        color: rgba(233,233,233,0.72);
    }
    .contactText h1{
        font-size: 30px;
        text-transform: uppercase;
    }
    .contactText p{
        text-align: justify;
        white-space: normal;
        font-size:20px;

    }
    </style>

{% endblock %}
{% block title %}Page Contact{% endblock %}
{% block body %}
    <link rel="stylesheet" href="public/styles/form.css">
      {#  {{ form_start(form) }}
    {{ form_end(form) }} #}
    {% block container %}
        <div class="background">
        <div class="Title" style="text-align: center;text-transform:uppercase;padding-top: 10px;width: 80%;margin: auto"><h1 style="font-size: 70px;border-bottom: solid white;color: rgba(233,233,233,0.72)">Contact</h1></div>
        <div class="container mt-5 mb-5 contact" style="width: 80%  ;text-align: center;background-color: rgba(0,0,0,0.72)">
            <div class="contactText">
                <h1 class="text-white">Bienvenue dans la page Contact</h1>
                <p class="mt-5">Vous pouvez me contacter pour avoir des informations et me partager vos idées pour vos futurs projets photos.</p>
                <p>Indiquez votre emplacement, le concept, le nombre de personnes.</p>
                <p>N'hésitez pas à me faire des retours sur vos photos car votre avis est pour moi la clé de voûte de mon métier.</p>
            </div>
            <div class="card mb-3 contact" style="width: 50%;color: rgba(233,233,233,0.72)">
    {{ form_start(form) }}
    <div>
        {{ form_errors(form) }}
    </div>
    <div class="col form-label text-uppercase" style="font-size:30px;">
        {{ form_row(form.name) }}
    </div>
    <div class="col form-label text-uppercase" style="font-size:30px;">
        {{ form_row(form.mail) }}
    </div>
    <div class="col form-label text-uppercase" style="font-size:30px;">
        {{ form_row(form.message) }}
    </div>
    <div class="col form-label text-uppercase" style=""
        {{ form_row(form.submit) }}
    </div>
    {{ form_end(form) }}
            </div>
        </div>
        </div>
        {% endblock %}

{% endblock %}
