{% extends 'base.html.twig' %}

{% block title %}Galerie #{{ galery.title }}{% endblock %}


{% block body %}

    <div class="media">
        <div class="media-body">

            <div class="col-lg-3 col-md-8 max-auto text-center border rounded-2 mb-3 mx-auto ">
                <h1 class="mt-2 fw-normal">{{ galery.title }}</h1>
                <p> <span class="fs-6 text-muted text-uppercase pe-2">Description: </span><span class="fw-bold">{{ galery.description }}</span></p>
                <p class="lh-1 "><span class="text-muted text-uppercase pe-2">Année : </span><span class="fw-bold"> {{ galery.year }}</span></p>
            </div>

            <div class="container-fluid bg-img mx-4 rounded mx-auto">
                <div class="row row-cols-1 g-2 col-md-7 mx-auto">
                    {% for photo in galery.photos %}
                        <div class=" image-set col-lg-4 col-sm-4 p-4">
                            <a href="{{ ('/uploads/' ~ photo.path)|imagine_filter('banner') }}" data-toggle="lightbox" data-lightbox="example-set">
                                <img class="example-image rounded" src="{{ ('/uploads/' ~ photo.path)|imagine_filter('square') }}"  alt="{{ photo.number }}">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="text-right" >
        <p><a class="btn btn-outline-secondary m-2" href="{{ path("galery_index") }}">Retour à la liste des galeries</a></p>
    </div>
{% endblock %}

